@model IEnumerable<SabariTest.Models.ExceptionLogger>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p style="text-align:right">
    <input type="text" id="mytable" placeholder="Search..." />
</p>
<table class="table" id="MyTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExceptionMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ControllName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExceptionStackTrace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExceptionMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControllName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExceptionStackTrace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

